.header {
  background: $off-white;
  position: fixed;
  width: 100vw;
  top: 0;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
  width: 100%;

  @media (max-width: $desktop-breakpoint) {
    display: inline-block;
  }
}

.header__title {

  @media (max-width: $desktop-breakpoint) {
    margin: 0 auto;
    width: 20rem;
  }
}

.header__buttons {

  @media (max-width: $desktop-breakpoint) {
    margin: 0 auto;
    width: 33rem;
  }
}