.home-color {
  background: $dark-blue;
  color: $off-white;
  padding: 3rem 0;
  text-align: center;

  h1 {
    margin: 0;
  }
}

.home-header {
  font-size: 4rem;
  margin: 0;
}

.home-blank {
  color: $dark-blue;
  margin-bottom: 3rem;
  text-align: center;
}